@use './../../../index.scss';

.sorting {
  @include index.settings-flex-item();
  padding: 0 16px;

  .content {
    display: flex;

    gap: 12px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    .button {
      line-height: 0%;
      background: none;
      border: none;
      cursor: pointer;

      .icon {
        color: index.$font-primary-color;
      }
    }

    .button:hover {
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .select {
      font-size: 16px;
      font-family: index.$font-family;
      color: index.$font-primary-color;
    }
  }
}
